/*
** Odyspace Styles Helpers A11y
*/
@use '../functions/unit-transform' as *;

%ody-form-focus-visible {
  margin-left: rem(-3);
  margin-right: rem(-3);
  padding-left: rem(3);
  padding-right: rem(3);
  width: calc(100% + #{rem(6)});
}

.ody-sr-only {
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  position: fixed;
}
